<div class="flex justify-content-center align-items-center">
    <div class="company">
        <div class="company-item" *ngFor="let c of companies" 
            [routerLink]="'/company/' + c.id + '/overview'">
            <div class="c-avt" *ngIf="!c?.avatar">
                <img src="../../../../../assets/images/TopWork-logo.png" width="100%">
            </div>
    
            <img [src]="c?.avatar" *ngIf="c?.avatar" class="c-avt">
    
            <h4 class="text-center">{{ c?.companyName }}</h4>
        </div>
    </div>
</div>

<p-paginator (onPageChange)="onPageChange($event)" [rows]="paging.pageSize" 
    [totalRecords]="totalElements" [first]="first" *ngIf="totalElements > paging.pageSize">
</p-paginator>