.sign-up {
    height: 100vh;

    img {
        margin-bottom: 30px;
    }

    &>div {
        width: 350px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--primary-500);
    }

    .fl-name {
        div {
            width: 48%;
        }
    }
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.font-color-primary {
    color: var(--primary-700);
}

form {
    width: 412px;
    padding: 50px 30px;
    border-radius: 6px;
    background-color: var(--primary-100);
    border: 1px solid var(--primary-400);
    margin-bottom: 30px;
}

:host::ng-deep {
    #pwd, #confirm-pwd {
        .p-password, .p-inputtext {
            width: 100%;
        }
    }

    form {
        .p-button {
            width: 180px !important;
        }
    }
}