<div class="w-full flex flex-column justify-content-center align-items-center reset-password">
    <img src="../../../assets/images/TopWork-logo.png" alt="TopWork" width="130px">
    
    <form [formGroup]="resetPasswordForm">
        <div class="flex flex-column w-full" style="margin-bottom: 10px;">
            <label for="pwd" class="font-bold font-size-13" style="margin-bottom: 3px;">
                {{ 'label.password' | translate }}
            </label>
            <p-password inputId="pwd" class="w-full"
                formControlName="passwordHash" [toggleMask]="true"></p-password>
        </div>

        <div class="flex flex-column w-full" style="margin-bottom: 25px;">
            <label for="cfpwd" class="font-bold font-size-13" style="margin-bottom: 3px;">
                {{ 'label.confirm_password' | translate }}
            </label>
            <p-password inputId="cfpwd" class="w-full" 
                formControlName="confirmPassword" [toggleMask]="true"></p-password>
        </div>

        <div class="flex w-full justify-content-center">
            <p-button [label]="'button.submit' | translate"></p-button>
        </div>
    </form>
</div>