<div class="w-full flex flex-column justify-content-center align-items-center forgot-password">
    <img src="../../../assets/images/TopWork-logo.png" alt="TopWork" width="130px">
    
    <form [formGroup]="forgotPasswordForm"> 
        <div class="flex flex-column" style="margin-bottom: 25px;">
            <label for="email" class="font-bold font-size-13" style="margin-bottom: 3px;">
                {{ 'label.email' | translate }}
            </label>
            <input type="text" pInputText formControlName="email" id="email">
        </div>

        <div class="flex w-full justify-content-center">
            <p-button [label]="'button.submit' | translate" 
                [disabled]="forgotPasswordForm.invalid" (onClick)="onSubmit()"></p-button>
        </div>
    </form>
</div>