.forgot-password {
    height: 100vh;

    img {
        margin-bottom: 30px;
    }

    form {
        width: 412px;
        padding: 50px 30px;
        border-radius: 6px;
        background-color: var(--primary-100);
        border: 1px solid var(--primary-400);
        margin-bottom: 30px;
    }
}