.sign-in {

    img {
        margin-bottom: 30px;
    }

    &>div {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--primary-500);
    }
}

.mobile {
    min-width: 312px !important;
}

.font-color-primary {
    color: var(--primary-700);
}

.forgot-pwd {
    position: absolute;
    right: 0;
    text-decoration: none;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

#keepLogin {
    margin-right: 5px;
}

form {
    min-width: 412px;
    padding: 50px 30px;
    border-radius: 6px;
    background-color: var(--primary-100);
    border: 1px solid var(--primary-400);
    margin-bottom: 30px;
    
}

:host::ng-deep {
    #pwd {
        .p-password, .p-inputtext {
            width: 100%;
        }
    }

    .p-icon {
        color: var(--primary-700) !important;
    }

    form {
        .p-button {
            width: 180px !important;
        }
    }
}