<div class="w-full flex justify-content-center align-items-center sign-in">
    <form>
        <span class="w-full flex justify-content-center font-size-13 margin-bottom-10">
            {{ 'label.sign_in_with_email' | translate}}
        </span>

        <div class="flex flex-column margin-bottom-10">
            <label for="email" class="font-size-14 font-bold" style="margin-bottom: 2px;">
                {{ 'label.email' | translate }}
            </label>
            <input pInputText id="email">
        </div>

        <div class="flex flex-column w-full margin-bottom-10 relative">
            <label for="pwd" class="font-size-14 font-bold" style="margin-bottom: 2px;">
                {{ 'label.password' | translate }}
            </label>
            <p-password id="pwd" class="w-full"></p-password>

            <a class="font-size-13 forgot-pwd cursor-pointer" href="#">
                {{ 'label.forgot_password' | translate }}
            </a>
        </div>

        <div class="w-full flex justify-content-between align-items-end"
             style="margin-bottom: 25px;">
            <div class="flex align-items-end">
                <p-checkbox id="isKeep"></p-checkbox>
                <label for="isKeep" class="font-size-14">
                    {{ 'label.keep_login' | translate }}
                </label>
            </div>
        </div>

        <div class="flex justify-content-center">
            <p-button [label]="'button.sign_in' | translate"></p-button>
        </div>
    </form>
</div>