<div class="footer">
    <div class="footer-img flex align-items-center">
        <img src="../../../assets/images/TopWork-logo.png" [width]="190">
    </div>

    <div class="footer-menu flex flex-column">
        <h2 style="margin-bottom: 20px;">{{ 'label.menu' | translate }}</h2>
        <ul>
            <li class="font-size-14" style="margin-bottom: 10px;">{{ 'label.jobs' | translate }}</li>
            <li class="font-size-14">{{ 'label.company' | translate }}</li>
        </ul>
    </div>

    <div class="footer-contact flex flex-column">
        <h2 style="margin-bottom: 20px;">{{ 'label.contact' | translate }}</h2>
        <ul>
            <li class="flex align-items-center" style="margin-bottom: 10px;">
                <img src="../../../assets/images/icons/call.svg" [width]="24" style="margin-right: 10px;">
                <span>0347676766</span>
            </li>
            <li class="flex align-items-center" style="margin-bottom: 10px;">
                <img src="../../../assets/images/icons/sms.svg" [width]="24" style="margin-right: 10px;">
                <span>pquangqui.it@gmail.com</span>
            </li>
            <li class="flex align-items-center">
                <img src="../../../assets/images/icons/global.svg" [width]="24" style="margin-right: 10px;">
                <span>www.topwork.com.vn</span>
            </li>
        </ul>
    </div>
</div>